#home-map, #work-map{
  height:100%;
  width:100%;
  min-width:200px;
  min-height:200px;
}

.controls {
  margin-top: 5px;
  margin-left:5px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  width:200px;
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 300px;
}

#pac-input:focus {
  border-color: #4d90fe;
}

.city-logo{
  float:right;
}

.col-sm-4 .well{
  background-color: #c1272d;
  border-radius: 0;
  color:#fff;
}

.col-sm-4 .well .dropdown-menu,
.col-sm-4 .well .selectize-input,
.col-sm-4 .well .form-control {
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 0;
}

.col-sm-4 .well .btn-default {
    color: #fff;
    background-color: #c1272d;
    border-color: #fff;
}

.col-sm-4 .well .btn{
    border: 2px solid white;
    border-radius: 0;
}